*
{
    margin: 0;
    padding: 0;
}

.container
{
    text-align: center;
}

.dice
{
    text-align: center;
    display: inline-block;
}

h1
{
    padding: 1.7rem;
    font-family: 'Righteous';
    font-size: 5rem;
    color: rgb(0, 0, 0);
}

.container :hover
{
    color: rgb(212, 255, 0);
    text-shadow: 0 0 10px salmon;
}

body
{
    background-color: rgb(94, 255, 0);
    position: relative;
    background: linear-gradient(140deg , cyan 0% , rebeccapurple 40% , deeppink 90% );
    height: 100vh;
}

img
{
    width: 80%;
}

p
{
    font-family: 'VT323';
    font-size: 3rem;
    padding: 1rem;
    color: rgb(0, 0, 0);
}

.refresh
{
    font-family: 'VT323';
    font-size: 2rem;
    text-align: center;
    padding: 5rem;
}

.refresh :hover
{
    color: rgb(212, 255, 0);
    text-shadow: 0 0 10px salmon;
}

.last
{
    padding: 1.5rem;
    font-family: 'Righteous';
    font-style:italic;
    font-size: 1.2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(140deg , rgb(0, 255, 255) 0% , rgb(115, 36, 194) 40% , rgb(255, 0, 136) 90% );
}

.mail
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.last .foot :hover
{
    color: rgb(212, 255, 0);
    text-shadow: 0 0 15px rgb(255, 25, 0);
}

.foot
{
    padding-right: 2.2rem;
}

/* RESPONSIVENESS */

@media (max-width: 750px)
{
    h1
    {
    padding: 1.5rem;
    font-family: 'Righteous';
    font-size: 4rem;
    color: rgb(0, 0, 0);
    }

    body
    {
    background-color: rgb(94, 255, 0);
    position: relative;
    background: linear-gradient(140deg , cyan 0% , rebeccapurple 40% , deeppink 90% );
    height: 95vh;
    }

    .refresh
    {
    font-family: 'VT323';
    font-size: 1.75rem;
    text-align: center;
    padding: 5rem;
    }

    img
    {
    width: 65%;
    }

    p
    {
    font-family: 'VT323';
    font-size: 2.3rem;
    padding: 1rem;
    color: rgb(0, 0, 0);
    }

    .last
    {
    padding: 1.5rem;
    font-family: 'Righteous';
    font-style:italic;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(140deg , rgb(0, 255, 255) 0% , rgb(115, 36, 194) 40% , rgb(255, 0, 136) 90% );
    }

}

@media (max-width: 517px)
{
    h1
    {
    padding: 1.5rem;
    font-family: 'Righteous';
    font-size: 3rem;
    color: rgb(0, 0, 0);
    }

    body
    {
    background-color: rgb(94, 255, 0);
    position: relative;
    background: linear-gradient(140deg , cyan 0% , rebeccapurple 40% , deeppink 90% );
    height: 100vh;
    }

    .refresh
    {
    font-family: 'VT323';
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5rem;
    }

    img
    {
    width: 45%;
    }

    p
    {
    font-family: 'VT323';
    font-size: 2rem;
    padding: 1rem;
    color: rgb(0, 0, 0);
    }

    .last
    {
    padding: 1.5rem;
    font-family: 'Righteous';
    font-style:italic;
    font-size: 0.85rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(140deg , rgb(0, 255, 255) 0% , rgb(115, 36, 194) 40% , rgb(255, 0, 136) 90% );
    }

}
